@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media only screen and (orientation: portrait) {
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  #orbitAButton {
    top: 50vmin;
    height: 10vmin;
  }
  #orbitBButton {
    top: 50vmin;
    height: 10vmin;
  }
  #orbitCButton {
    top: 65vmin;
    height: 10vmin;
  }
  #orbitDButton {
    top: 65vmin;
    height: 10vmin;
  }
}

@media only screen and (orientation: landscape) {
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  #orbitAButton {
    top: 35vmin;
    height: 5vmax;
  }
  #orbitBButton {
    top: 35vmin;
    height: 5vmax;
  }
  #orbitCButton {
    top: 50vmin;
    height: 5vmax;
  }
  #orbitDButton {
    top: 50vmin;
    height: 5vmax;
  }
  .suggestion {
    display: none;
  }
}

canvas {
  display: block;
  outline: none;
  border: none;
}

#card {
  background: transparent;
  height: 100%;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#info {
  margin-bottom: 10px;
  color: #f47c33;
  text-align: center;
  word-break: keep-all;
}

.suggestion {
  margin-bottom: 10px;
  color: #ef5966;
  text-align: center;
  word-break: keep-all;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vmax;
}

.button {
  position: absolute;
  font-family: "Roboto", sans-serif;
  margin: auto;
  height: 5vmax;
  font-size: 4vmin;
  background: #f47c33;
  /*height:  38px;
    line-height:  40px;*/
  border: 3px solid #592651;
  /*display:  inline-block;*/
  float: none;
  text-align: center;
  width: 40vmin;
  /*padding:  0px!important;
    /*font-size:  14px;*/
  color: #592651;
}

.button:hover {
  color: #a53f5b;
  background: #f9a000;
}

#beginButton {
  left: 0;
  right: 0;
  color: #592651;
}

#creditsButton {
  left: 0;
  right: 0;
  top: 20vmax;
  color: #592651;
}

#backButton {
  left: 0;
  right: 40;
  color: #592651;
}

#prevButton {
  left: 0;
  right: 30;
  color: #592651;
}

#nextButton {
  left: 30;
  right: 0;
  color: #592651;
}

#playAnimation {
  color: #592651;
  top: 25vmax;
  width: 35vmin;
  height: 10vmin;
  font-size: 3vmin;
}
#orbitAButton {
  color: #592651;
  width: 35vmin;
  font-size: 3vmin;
}
#orbitBButton {
  right: 0;
  color: #592651;
  width: 35vmin;
  font-size: 3vmin;
}
#orbitCButton {
  color: #592651;
  width: 35vmin;
  font-size: 3vmin;
}
#orbitDButton {
  right: 0;
  color: #592651;
  width: 35vmin;
  font-size: 3vmin;
}

#moreInfo {
  opacity: 1;
  color: white;
  display: flex;
  background: transparent;
  /*height:  38px;
    line-height:  40px;*/
  border: 3px solid white;
  font-size: 1.5vmax;
  font-family: "roboto", sans-serif;
  justify-self: center;
}

#descriptionBox {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 5vmin;
  right: 1vmax;
  width: 40vmax;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(48, 33, 68, 1) 0%,
    rgba(18, 3, 29, 1) 100%
  );
  padding: 1vmin 1vmin 1vmin 1vmin;
  box-shadow: 0px 1px 5px #999;
  opacity: 0.8;
}

#description {
  opacity: 1;
  font-size: 2vmax;
  font-family: "roboto", sans-serif;
  color: #ef5966;
  /*#a53f5b;*/
  text-align: center;
  margin-bottom: 2vmin;
}

#details {
  opacity: 1;
  font-size: 2vmax;
  font-family: "roboto", sans-serif;
  color: #ef5966;
  /*#a53f5b;*/
  text-align: center;
  margin-bottom: 2vmin;
}

.ml2 {
  font-family: "Oswald", sans-serif;
  font-size: 5vmax;
  font-weight: 300;
}

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 33, 68);
  opacity: 1;
  transition: 2s opacity;
}
#loadText {
  top: 60vmin;
  font-family: "Oswald", sans-serif;
  font-size: 4vmax;
  font-weight: 300;
  line-height: 5vmax;
  color: #f47c33;
  text-align: center;
  transform: translate;
}
#loading-screen.fade-out {
  opacity: 0;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #a53f5b;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #592651;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ef5966;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#transition-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}
#transition-screen.screen-change {
  animation-name: screen-change;
  animation-duration: 2s;
}
@keyframes screen-change {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#credits-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 33, 68);
  opacity: 0.8;
  display: none;
}
